<!DOCTYPE html>
<html>

<!-- site metadata -->
	<head>
		<title>Fanny B</title>
		
		<link rel="stylesheet" href="style.css" type="text/css">

		<!-- name font -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

		<!-- name font -->
		<link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">

		<!-- bootstrap -->
	   	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	    <!-- allow mobile-zoom  -->
	   <meta name="viewport" content="width=device-width, initial-scale=1">

	</head>


	<!-- <header>
	  <h1>Fanny B</h1>
	  <button id = "toggle"</button>
	</header> -->

	<!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script> -->



	<body>
	  <!-- <div id='content'> -->
	    <!-- <div id='blurb'> -->
	   
	    <nav class="navbar navbar-default navbar-fixed-top">
	    	<div class="container">
	    		<ul class="nav nav-pills">
	    			<ul class="pull-right">
		    			<li><a href="#">About</a></li>
		    			<li><a href="#">Contact</a></li>
		    		</ul>
	    		</ul>
	    	</div>
		</nav>

	    <div class="jumbotron">
	    	<div class="container">
	    		<h1>Fanny B.C.</h1>
	    			<p>Applied Statistics Student</p>
	    	</div>		
		</div>

		<div class="filler">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fringilla viverra nulla ac tincidunt. Sed imperdiet tellus sed imperdiet tristique. Morbi tristique ut nisl vel vulputate. In egestas viverra nisi eget elementum. Sed nulla ex, lobortis non pulvinar id, faucibus eu leo. Sed posuere lacus et auctor faucibus. Duis at sollicitudin tortor, ac accumsan libero. Vivamus tincidunt nibh finibus tellus fringilla dictum. Vestibulum dapibus at velit ac vehicula. In ultrices tortor quis ipsum vulputate, ut varius odio commodo. Sed sapien quam, commodo non neque et, ultricies blandit nisi. Vestibulum lacinia erat odio, quis scelerisque nisi fringilla vestibulum. Suspendisse consectetur sed augue in dictum. Duis libero justo, molestie vitae viverra in, aliquet in risus. Curabitur nec dictum quam, nec pretium metus.
			<br>
			<br>
			Vivamus ac dolor non massa condimentum eleifend at ut massa. Fusce iaculis, augue quis consequat lobortis, lectus velit elementum quam, ut malesuada orci quam sit amet felis. Phasellus at vulputate neque. Nunc tincidunt erat diam, sed rutrum neque aliquet quis. Vivamus faucibus eros ligula, vitae mollis nunc tristique eget. Etiam non libero mi. Cras facilisis dolor vitae ullamcorper finibus. Fusce sit amet venenatis orci, sed dapibus ex. Vivamus non varius neque.
			<br>
			<br>
			Cras lobortis lacinia orci, sed congue justo interdum et. Vivamus vehicula nunc quis ligula condimentum, non tempor neque laoreet. Sed lacinia mi et odio molestie posuere nec ut est. Pellentesque blandit ac velit tincidunt tincidunt. Pellentesque laoreet fringilla venenatis. Sed finibus vitae neque feugiat consectetur. Phasellus scelerisque cursus enim et consectetur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst.
			<br>
			<br>
			In viverra, mi sed ultrices fermentum, ante velit fringilla turpis, sit amet tempus leo dui nec eros. Fusce egestas eros nulla, id porta mauris tincidunt non. Nulla nec ante turpis. Curabitur convallis at sem eu faucibus. Nunc posuere, mauris non rutrum fermentum, nisi leo pharetra lorem, a efficitur urna tortor id lectus. Sed fringilla dui quis nisl pulvinar, at dapibus tortor mollis. Proin mollis velit nec tempor scelerisque.
			<br>
			<br>
			Donec augue est, viverra ac lectus vitae, maximus tristique orci. Maecenas ac ex a nunc pellentesque ultricies. Donec vel magna et velit aliquet consectetur eget a ex. Duis ut lectus mi. Integer consectetur massa et diam elementum vulputate. Sed est massa, dignissim non ultricies id, rutrum pretium magna. Aliquam placerat metus eget finibus elementum.
			<br>
			<br>
			In sapien dui, egestas a libero at, euismod mattis quam. Nam mattis ipsum ut imperdiet viverra. Vivamus odio mauris, mattis nec risus et, gravida efficitur enim. Fusce tempor sagittis nisl. Morbi fringilla neque non sem convallis, vel eleifend risus sollicitudin. Proin nec tellus sed nisl egestas imperdiet vel in nisl. Maecenas nec metus ac lacus pellentesque pretium a at mauris. Sed venenatis sem eu erat aliquam porta.<br>
			<br>
			Maecenas malesuada nec massa id scelerisque. Donec id risus dignissim, tempus odio ac, mattis ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In eleifend ultrices risus, sit amet laoreet ante aliquam in. Integer at leo enim. Sed at dui erat. Curabitur viverra lacus massa, non suscipit odio mollis sed. Curabitur fermentum non risus ut maximus.

			Nullam scelerisque tellus et tellus commodo, ac rhoncus eros posuere. Nulla porta egestas tellus, vel ullamcorper velit sagittis sit amet. Vivamus id enim sit amet tortor lobortis mollis. Sed ut efficitur ex, nec pulvinar purus. Praesent malesuada tempus eros, eu varius mi hendrerit quis. Ut in bibendum nunc, ut sollicitudin nisi. Donec vel tortor dui. Praesent nec tortor convallis massa tincidunt venenatis. In sed odio ut leo aliquam pharetra. Vivamus mollis sit amet nunc et blandit. Proin interdum, massa vitae facilisis sollicitudin, lacus ligula cursus felis, sed dignissim est lorem non tellus. Fusce condimentum rutrum bibendum.<br>
			<br>

			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fringilla viverra nulla ac tincidunt. Sed imperdiet tellus sed imperdiet tristique. Morbi tristique ut nisl vel vulputate. In egestas viverra nisi eget elementum. Sed nulla ex, lobortis non pulvinar id, faucibus eu leo. Sed posuere lacus et auctor faucibus. Duis at sollicitudin tortor, ac accumsan libero. Vivamus tincidunt nibh finibus tellus fringilla dictum. Vestibulum dapibus at velit ac vehicula. In ultrices tortor quis ipsum vulputate, ut varius odio commodo. Sed sapien quam, commodo non neque et, ultricies blandit nisi. Vestibulum lacinia erat odio, quis scelerisque nisi fringilla vestibulum. Suspendisse consectetur sed augue in dictum. Duis libero justo, molestie vitae viverra in, aliquet in risus. Curabitur nec dictum quam, nec pretium metus.<br>
			<br>

			Vivamus ac dolor non massa condimentum eleifend at ut massa. Fusce iaculis, augue quis consequat lobortis, lectus velit elementum quam, ut malesuada orci quam sit amet felis. Phasellus at vulputate neque. Nunc tincidunt erat diam, sed rutrum neque aliquet quis. Vivamus faucibus eros ligula, vitae mollis nunc tristique eget. Etiam non libero mi. Cras facilisis dolor vitae ullamcorper finibus. Fusce sit amet venenatis orci, sed dapibus ex. Vivamus non varius neque.<br>
			<br>
			Cras lobortis lacinia orci, sed congue justo interdum et. Vivamus vehicula nunc quis ligula condimentum, non tempor neque laoreet. Sed lacinia mi et odio molestie posuere nec ut est. Pellentesque blandit ac velit tincidunt tincidunt. Pellentesque laoreet fringilla venenatis. Sed finibus vitae neque feugiat consectetur. Phasellus scelerisque cursus enim et consectetur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst.

			In viverra, mi sed ultrices fermentum, ante velit fringilla turpis, sit amet tempus leo dui nec eros. Fusce egestas eros nulla, id porta mauris tincidunt non. Nulla nec ante turpis. Curabitur convallis at sem eu faucibus. Nunc posuere, mauris non rutrum fermentum, nisi leo pharetra lorem, a efficitur urna tortor id lectus. Sed fringilla dui quis nisl pulvinar, at dapibus tortor mollis. Proin mollis velit nec tempor scelerisque.

			Donec augue est, viverra ac lectus vitae, maximus tristique orci. Maecenas ac ex a nunc pellentesque ultricies. Donec vel magna et velit aliquet consectetur eget a ex. Duis ut lectus mi. Integer consectetur massa et diam elementum vulputate. Sed est massa, dignissim non ultricies id, rutrum pretium magna. Aliquam placerat metus eget finibus elementum.

			In sapien dui, egestas a libero at, euismod mattis quam. Nam mattis ipsum ut imperdiet viverra. Vivamus odio mauris, mattis nec risus et, gravida efficitur enim. Fusce tempor sagittis nisl. Morbi fringilla neque non sem convallis, vel eleifend risus sollicitudin. Proin nec tellus sed nisl egestas imperdiet vel in nisl. Maecenas nec metus ac lacus pellentesque pretium a at mauris. Sed venenatis sem eu erat aliquam porta.

			Maecenas malesuada nec massa id scelerisque. Donec id risus dignissim, tempus odio ac, mattis ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In eleifend ultrices risus, sit amet laoreet ante aliquam in. Integer at leo enim. Sed at dui erat. Curabitur viverra lacus massa, non suscipit odio mollis sed. Curabitur fermentum non risus ut maximus.

			Nullam scelerisque tellus et tellus commodo, ac rhoncus eros posuere. Nulla porta egestas tellus, vel ullamcorper velit sagittis sit amet. Vivamus id enim sit amet tortor lobortis mollis. Sed ut efficitur ex, nec pulvinar purus. Praesent malesuada tempus eros, eu varius mi hendrerit quis. Ut in bibendum nunc, ut sollicitudin nisi. Donec vel tortor dui. Praesent nec tortor convallis massa tincidunt venenatis. In sed odio ut leo aliquam pharetra. Vivamus mollis sit amet nunc et blandit. Proin interdum, massa vitae facilisis sollicitudin, lacus ligula cursus felis, sed dignissim est lorem non tellus. Fusce condimentum rutrum bibendum.




</div>




	    <!-- <div class = 'jumbotron'>
	    	<p id='links'>
	          <a href="http://www.fannyb.me/test.pdf" title='PDF'>test/resum&eacute;</a> |
	          <a href="http://www.linkedin.com/in/fannychow" title='Linkedin'>LinkedIn</a>
	    	</p>

			<div id = 'name'>
				Fanny B.C. 
			</div>

			<ul>
				<li>Data</li>
				<li>Code</li>
				<li>Community</li>
			</ul>


	    	<img src="pic_hack.jpg"  width=300px>
	    </div>	
		 --><!-- </div> -->
	<!-- </div> -->




		<!-- testing angular js interactivity -->
		<!-- <script src="myScript.js"></script> -->
		
		<!-- <div ng-app="myApp" ng-controller="myCtrl"> -->
		<!-- <p>Name: <input type ="text" ng-model="name"></p> -->
		<!-- <button ng-click="name= ''"> Enter</button> -->
		<!--<p ng-bind="name"></p>-->
		<!--shortens the syntax w/ angular-->
		<!--<p>{{name}}</p>-->
		<!--if someone types into "name, THEN show text-->
		 <!-- <p ng-if="name">{{"thanks for writing your name, "+ name}}</p>	 -->
		<!--if else statement
		 -->
		<!-- </div> -->

		<!-- // <script> -->
		<!-- // var app = angular.module('myApp', []);
		// app.controller('myCtrl', function($scope){
		// 	$scope.name = "Required, lady!";
		// });
		// </script> -->

	</body>

</html>
