<!DOCTYPE html>
<html>

<!-- site metadata -->
	<head>
		<title>Fanny B</title>
		
		<link rel="stylesheet" href="style.css" type="text/css">

		<!-- name font -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

		<!-- name font -->
		<link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">

		<!-- bootstrap -->
	   	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	    <!-- allow mobile-zoom  -->
	   <meta name="viewport" content="width=device-width, initial-scale=1">

	</head>


	<!-- <header>
	  <h1>Fanny B</h1>
	  <button id = "toggle"</button>
	</header> -->

	<!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script> -->



	<body>
	  <!-- <div id='content'> -->
	    <!-- <div id='blurb'> -->
	   
	    <nav class="navbar navbar-default navbar-fixed-top">
	    	<div class="container">
	    		<ul class="nav nav-pills">
	    			<ul class="pull-right">
		    			<li><a href="#">About</a></li>
		    			<li><a href="#">Contact</a></li>
		    		</ul>
	    		</ul>
	    	</div>
		</nav>

	    <div class="jumbotron">
	    	<div class="container">
	    		<h1>Fanny B.C.</h1>
	    			<p>Aspiring Statistician</p>
	    	</div>		
		</div>

		<div class="filler">
			Hello World! I study Statistics and International Relations. My background is in local government, non-profits, and startups. I will be graduating this June, and I am seeking opportunities related to data science, machine learning, and scientific computing. 



			

</div>




	    <!-- <div class = 'jumbotron'>
	    	<p id='links'>
	          <a href="http://www.fannyb.me/test.pdf" title='PDF'>test/resum&eacute;</a> |
	          <a href="http://www.linkedin.com/in/fannychow" title='Linkedin'>LinkedIn</a>
	    	</p>

			<div id = 'name'>
				Fanny B.C. 
			</div>

			<ul>
				<li>Data</li>
				<li>Code</li>
				<li>Community</li>
			</ul>


	    	<img src="pic_hack.jpg"  width=300px>
	    </div>	
		 --><!-- </div> -->
	<!-- </div> -->




		<!-- testing angular js interactivity -->
		<!-- <script src="myScript.js"></script> -->
		
		<!-- <div ng-app="myApp" ng-controller="myCtrl"> -->
		<!-- <p>Name: <input type ="text" ng-model="name"></p> -->
		<!-- <button ng-click="name= ''"> Enter</button> -->
		<!--<p ng-bind="name"></p>-->
		<!--shortens the syntax w/ angular-->
		<!--<p>{{name}}</p>-->
		<!--if someone types into "name, THEN show text-->
		 <!-- <p ng-if="name">{{"thanks for writing your name, "+ name}}</p>	 -->
		<!--if else statement
		 -->
		<!-- </div> -->

		<!-- // <script> -->
		<!-- // var app = angular.module('myApp', []);
		// app.controller('myCtrl', function($scope){
		// 	$scope.name = "Required, lady!";
		// });
		// </script> -->

	</body>

</html>
